name: Continuous-Integration-For-Todo-List-Application

on:
  push:
    branches: [ master, production, feature/*, bug-fix/*, hot-fix/*, enhancement/*, release/* ]
  pull_request:
    branches: [ master, production ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: test_db
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.ci', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Execute command for PHPCS
      run: vendor/bin/phpcs
    - name: Execute Command for PHPStan
      run: vendor/bin/phpstan analyse
